body
{
    font-family: 'Helvetica Neue','Roboto Slab', 'Roboto', 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;

}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

#menu-bar{
    width:200px;
    background: red;
    float: left;
}

#test-content{
    float: right;
    width:80%;
    background: blue;
}

#welcome-page{
    min-height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom right, rgb(250, 114, 104), yellow);
}



/*#menu{*/
    /*background-color: red;*/
    /*height: 50px;*/
    /*flex: 0;*/
    /*flex-direction: column;*/
/*}*/


#welcome-title{
    font-size: 500%;
    padding: 20px;
}

.greetings{
    margin: 50px;
}

#welcome-message{
    text-align: center;
    padding: 20px 20%;
}



#footer-box{
    background-color: #1b1e21;
    height: 50px;
    flex: 0;
    flex-direction: column;
}

.footer-icon{
    height: 32px;
    width: 32px;
    margin: 3px;
}

#footer-networks{
    padding: 4px 3%;
    text-align: right;
}

#content{
    flex: 1;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
